body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #657e8f;
  min-height: 100vh;
  position: relative;
}

header {
  background-color: #d9d9d9;
  padding: 15px 0;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #484545;
  margin-right: 20px; /* Adjusted margin */
}

nav {
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  height: 40px;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px;
  text-shadow: 5px 5px 5px #3f423f;
  font-size: 20px;
}

nav a:hover {
  color: #657e8f;
}

nav a.active {
  color: #657e8f;
}

.gallery {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.gallery-item {
  text-align: center;
}

.gallery-item img {
  width: 450px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #333;
}

.gallery-item p {
  color: #333;
  font-size: 14px;
  display: flex;
  width: 450px;
  height: auto;
}

.h1 {
  font-size: 30px;
  color: white;
  margin-top: 100px;
  margin-left: 100px;
}
